AnilistPython
apscheduler 
PyMuPdf
aiofiles
aiohttp[speedups]
bs4
cachetools
cloudscraper
fpdf2
git+https://github.com/Ripeey/Conversation-Pyrogram
html-telegraph-poster
img2pdf
jikanpy-v4
levenshtein
lxml[html_clean]
m3u8
markdown2
natsort
opencv-python-headless
pillow
motor
pyminizip
Pympler
git+https://github.com/KurimuzonAkuma/pyrogram
python-dateutil
python-dotenv
reportlab
requests
SafoneAPI
telegraph
tgcrypto
uvloop
yt-dlp