AnilistPython
apscheduler 
PyMuPdf 
aiofiles
aiohttp[speedups]
bs4
cachetools
cloudscraper
fpdf2
html-telegraph-poster
img2pdf
jikanpy-v4
markdown2
natsort 
nhentai
opencv-python-headless
pillow
motor
pyrogram>=2.0.104
pyromod==1.5
python-dotenv
reportlab
requests
tgcrypto
uvloop
yt-dlp